@model AutoNuoma.Models.Klientas

@{
    ViewBag.Title = "Delete";
}

<h2>Kliento šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį klientą?</h3>
<div>
    <h4>Klientas</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel_numeris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel_numeris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.El_pastas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.El_pastas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @if (ViewBag.naudojama != null)
        {
            <h5 style="color:red">@ViewBag.naudojama</h5>
        }
        else
        {
            <input type="submit" value="Šalinti" class="btn btn-danger" />
        }
        @Html.ActionLink("Atgal į sąrašą", "Index", "Klientas", new { @class = "btn btn-default" })
    </div>
    }
</div>
